.delete-row {
    cursor: pointer;
}

.delete-confirm-modal>div {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.delete-confirm-modal>.delete-button {
    background-color: var(--color-danger);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.context-menu {
    position: absolute;
    z-index: 10;
    background-color: var(--context-menu-bg);
    color: var(--context-menu-text);
    border: 1px solid var(--context-menu-border);
    box-shadow: 0px 4px 8px var(--context-menu-shadow);
    padding: 10px;
    border-radius: 4px;
    min-width: 150px;
  }
  
  .context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  
  .context-menu-item:hover {
    background-color: var(--context-menu-hover-bg);
    color: var(--context-menu-hover-text);
  }
  
  .context-menu-separator {
    height: 1px;
    background-color: var(--context-menu-separator);
    margin: 6px 0;
  }