:root {
    --color-bg: #ffffff;
    --color-text: #160000;
}

.dark {
    --color-bg: #333333;
    --color-text: #ffffff;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}